.App {
    display: grid;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 1fr 4fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    // background-image: url(../../pic/bc.jpg) ;
    background-color: #f1f1f1;
    grid-area: c;
}
