.nav {
    // background-image: url(../../pic/bc.jpg);
    background-color: rgb(178, 197, 250);
    grid-area: n;
    text-align: center;
    padding-top: 10px;

    a {
        text-decoration: none;
        color: black;
        &:hover {
            font-size: 1.1em;
        }
    }

    &__item {
        padding: 5px;
    }
}

.title {
    font-size: 20px;
    margin: 15px auto;
}
