.header {
    background-image: linear-gradient(white, gray);
    grid-area: h;
    min-height: 70px;
}
.loginBlock {
    float: right;
    a {
        color: black;
        text-decoration: none;
    }
}
