.descriptionBlock {
    padding: 10px;
    &__aboutMe {
        margin: 5px;
        color: blue;
    }
    &__status {
        color: green;
    }
}

.mainPhoto {
    height: 150px;
}
.profileInfo {
}
