.descriptionBlock {
    padding: 10px;
    &__aboutMe {
        // margin: 5px;
        // color: blue;
    }
    &__status {
        display: flex;
    }
    &__contacts {
        padding-left: 10px;
    }
}

.mainPhoto {
    height: 150px;
}
.profileInfo {
}
